<%- include ('partials/header.ejs') %>
    <!-- para usar variavel aqui, decorar tags para usar html no ejs -->

    <!-- não pode comentar código do ejs -->
     <!-- para comentar ejs usa # <%#= user %> -->
    <p>Bem-vindo(a) <%= user %> ao seu perfil</p>
    
<%- include ('partials/footer.ejs') %>