    <%- include ('partials/header.ejs') %>

    <h1>Bem-vindo a homepage!</h1>
    <hr>
    <ul>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/clientes">clientes</a></li>
        <li><a href="/pedidos">pedidos</a></li>
        <li><a href="/perfil">perfil</a></li>
    </ul>
    <img src="/imgs/imagem1.png" alt="Imagem de capa">

    
<%- include ('partials/footer.ejs') %>