<footer style="background-color: #161616;">
    <hr>
    <p style="text-align: center; color: #ffffff;">
        FATEC REGISTRO &reg; 2025
    </p>
    
</footer>
<script src="/js/script.js"></script>>
</body>
</html>